 .app-main {}

 html {
   min-height: 100%;
 }

 body,
 div#root,
 .master-page {
   height: 100vh;
   background-color: #fff;
 }

 form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .master-page {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto;
 }

 .profile-page {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #eee;

 }

 .profile-page-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;

 }

 .profile-page-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-left: 1em;

 }

 .profile-page-right h2 {
   font-weight: lighter;
 }

 .profile-page-buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .custom-button {
   margin-right: 1em;
   margin-top: 1em;

 }
 .error {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
    padding: 0.1em 0.1em;
    color: red;
    width: 100%;
    text-align: center;
    font-size: small;
 }

 .text-display {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   background-color: rgb(235, 235, 235);
   // box-shadow: inset -5px -5px 5px grey;
   padding: 10px;
   border-radius: 2px;
   min-height: 80px;
   &.mini{
    width: fit-content;
    height: fit-content;
    min-height: unset;
   }
 }

 a {
   text-decoration: none;
   color: black;
   cursor: pointer;
 }

 .img-container {
   display: flex;
   justify-content: center;
   align-items: center;

   img {
     width: 100%;
   }

   &.icon {
     width: 30px;
     height: 30px;
     cursor: pointer;
   }
 }

 .messager {
  height: 75vh;
  @media (max-width: 767px) {
    height: 60vh;
  }
}
