.offer-opt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.user-info {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.offer-page {
    .page-content {
        z-index: 1;
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: stretch;
        gap: 25px;
        height: 100%;
    }

    .mini-imgs {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .mini-img {
        position: relative;

        .overlay {
            position: absolute;
            display: none;
            background-color: var(--main-color-tile-hover);
            color: #fff;
            width: 50px;
            height: 50px;
            top: 0;
            left: 0;
            font-size: 3em;
            cursor: pointer;
            span{
                width: 100%;
                height: 100%;
                text-align: center;
                transform: rotate(45deg);
            }
        }

        &:hover .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        align-items: flex-start;

        &.grid-1 {
            grid-template-columns: 1fr;
        }
    }


    .upload-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        align-items: flex-start;

        form {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}

.edit-overlay {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #aaaaaaaa;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .offer-create {
        background-color: #cecece;
        padding: 15px;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
    }
}

@media only screen and (max-width:1050px) {
    .offer-page {
        .page-content {
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and (max-width:768px) {
    .images.grid-2{
        grid-template-columns: 1fr;
    }
    .existing-img{
        order:2;
    }
}