//carbon
// scss-lint:disable ImportantRule
@use "@carbon/react";
//normalize
@import "./partials/normalize";

//globals
@import "./partials/global";
@import "./partials/layouts";
@import "./partials/menu";

//components

//pages
@import "./partials/createOffer";
@import "./partials/offerPage";
@import "./partials/carbonOverride";


:root{
  --main-color:#006b00;
  --header-height: 80px;
  --main-color-tile:#006b0033;
  --main-color-tile-hover:#006b0055;
}

.obrazki {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.inactive {
  opacity: 0.6;
}
.d-flex {
  display: flex;
  justify-content: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.searchbar {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    padding-top: 8px;

    @media (max-width: 767px) {
        display: block;
    }
}

.dropdown {
    width: 300px;
    @media (max-width: 767px) {
        width: 100%;
    }
}

.logo {
    width: 100;
    @media (max-width: 767px) {
       display: none;
    }
}

.offer-tile {
  background-color: var(--main-color-tile);
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--main-color-tile-hover);
  }
}